////
/// Settings File
/// Init fonts, backgrounds, wrappers, breakpoints and Transition variables
/// @group Settings
////

/// Fonts ///
///
$msuxf-font-size: 16px !default;
///
$msuxf-font-weight: 400 !default;
///
$msuxf-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !default;
///
$msuxf-font: $msuxf-font-weight toem($msuxf-font-size) $msuxf-font-family !default;
///
$msuxf-font-weight-light: 300 !default;
///
$msuxf-font-weight-regular: $msuxf-font-weight !default;
///
$msuxf-font-weight-semibold: 600 !default;
///
$msuxf-font-weight-bold: 700 !default;
///
$msuxf-font-color: #101010 !default;
///
$msuxf-font-color-bright: #edede6 !default;
///
$msuxf-font-color-dark: $msuxf-font-color !default;
///
$msuxf-font-color-white: #fff !default;

/// Background ///
///
$msuxf-background: $msuxf-font-color-bright !default;
///
$msuxf-background-bright: $msuxf-background !default;

/// Wrapper ///
///
$msuxf-wrapper-min-width: torem(1200px) !default;

/// Breakpoints ///
///
$msuxf-breakpoints: (
  'desktop-fhd': (max-width: 1920px),
  'desktop': (max-width: 1366px),
  'ipad': (min-width: 1023px, max-width: 1024px),
  'isdesktop': (min-width: 1024px),
  'ismobile': (max-width: 1024px),
  'iphone': (max-width: 980px)
) !default;

/// Transition/Animation ///
///
$msuxf-transition-duration: 0.25s !default;
///
$msuxf-transition-timing: ease !default;
