////
/// Buttons
/// @group components
/// @author MS
////

///
$c-button-padding: toem(8px) toem(10px) !default;
///
$c-button-text-color: white !default;
///
$c-button-background-color: black !default;
///
$c-button-border-radius: toem(5px) !default;

/// General styles for buttons. There are also a couple of modifier classes to handle smaller and bigger styles for the buttons.
/// @example markup - Regular size buttons
///   <button class="button"></button>
/// @example markup - Small size buttons
///   <button class="button button--small"></button>
/// @example markup - Large size buttons
///   <button class="button button--large"></button>

@mixin c-button() {
  .button {
    display: inline-block;
    padding: $c-button-padding;
    font: $msuxf-font;
    line-height: 1; // Normalize height
    color: $c-button-text-color;
    text-align: center;
    text-decoration: none;
    background-color: $c-button-background-color;
    border: none;
    transition: all $msuxf-transition-duration $msuxf-transition-timing;
    appearance: none;

    @if variable-exists(c-button-border-radius) and $c-button-border-radius != 0 {
      border-radius: $c-button-border-radius;
    }

    &:hover {
      background-color: complementary-color($c-button-background-color, 30%);
    }

    &.button--small {
      font-size: 80%;
    }

    &.button--large {
      font-size: 120%;
    }
  }
}